
.header_search {
    display: flex;
    justify-content: center;
}



.pagination {
    display: flex;
    justify-content: center;
}

.admin-table__inner{
    display: flex;
        justify-content: center;
}

.main_head{
    display: flex;
        justify-content: center;
}